*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: arial, tahoma;
	font-size: 100%;
	box-sizing: border-box;
	text-align: center;

}

p{
	padding: 5px;
	text-align: left;
	color: white;

	
}

h1{
	padding: 5px;
}

.tituloDestaque{
	font-size: 2em;
	color: white;
	text-transform: uppercase;
	padding-bottom: 15px;
	margin-bottom: 20px;
	border-bottom: 5px #009d4f dotted;
}

.corpo{
	width: 100%

}

.conteudo{
	max-width: 1280px;
	width: 80%;
	padding: 5px;
	margin: auto;
	background-color: black;
}

.logo{
	width: 200px;
	height: 150px;
}

.verde{
	background-color: #c1ffc180;
	color: rgb(255,255,255); 
}

.preto{
	background-color: black
}

.menu{
	display: block;
	float: right;
	margin-top: 40px;
	background-color: #dab24c;
	border-radius: 10px;
}

.menu li{
	padding: 20px;
	font-weight: 700;
	text-transform: uppercase;
	display: inline-block;
	border-radius: 10px;
}

.menu li:hover{
	background-color: #DAA520;
}

.menu a:hover{
	color: rgb(0,0,0);
}

.menu a{
	color: rgba(255,255,255,0.9);
}

img{
	width: 100%;
	height: 100%;
	border: 0;
	padding: 5px;
}

.slide{
	min-height: 350px;
	border: 5px solid #FFFFFF;
	position: relative;
	text-align: left;
}

.slideImagem{
	position: absolute;
	opacity: 0;
	animation: animaSlide 15s infinite;
}

@keyframes animaSlide{
	25%{
		opacity: 1
	}
	75%{
		opacity: 0
	}
}

.slideImagem:nth-child(0){
	animation-delay: 0s
}

.slideImagem:nth-child(1){
	animation-delay: 5s
}

.slideImagem:nth-child(2){
	animation-delay: 10s
}

.bordas{
	border-radius: 10px;
	border-color: darkgreen;
	height: 100%


}

.sombra{
	box-shadow: 1px 1px 1px 1px darkgreen
}

.sombraTexto{
	text-shadow: 2px 2px 4px darkgrey
}

.caixa{
	float: left;
	width: 100%;
	margin: 0.5%;
}

.caixa3{
	width: 24%;


}

.caixa6{
	width: 49%;
}

.caixa9{
	width: 74%
}

.caixa1{
	width: 7.33333%;
}

.titulo{
	text-transform: uppercase;
	font-size: 1.3em;
}

.textoVermelho{
	color: #eb262a
}

.textoVerde{
	color: #31712a
}

.textoAmarelo{
	color: #ffa900
}

.textoAzul{
	color: #0089fa
}

.botao{
	margin: 10px;
	display: inline-block;
	border: 1px solid;
	color: #FFFFFF;
	cursor: pointer;
}

.botaoGrande{
	padding: 15px 50px;
}

.botaoPequeno{
	padding: 10px 30px;
}

.botaoAmarelo{
	background-color: #ffa900;
	border-color: #ec9f00;
	border-radius: 10px;
}

.botaoAzul{
	background-color: #0089fa;
	border-color: #0082ec;
	border-radius: 10px;
}

.botaoVerde{
	background-color: #31712a;
	border-color: #009d4f;
	border-radius: 10px;
}

.botaoVermelho{
	background-color: #eb260a;
	border-color: #d2230a;
	border-radius: 10px;
}

.botaoAzul:hover{
	background-color: #51d0ff;
}

.botaoVerde:hover{
	background-color: #00c161;
}

.botaoVermelho:hover{
	background-color: #f08080;
}

.botaoAmarelo:hover{
	background-color: #ffde37;
}

video {
    width: 100%;
    height: auto;
}

.fundoTopo{
	/*background-image: url("../imagens/topo.png");*/ 
	/*background-repeat:repeat-x; /*repetir na horizontal*/
	/*background-repeat:repeat-y; /*repetir na vertical*/
	/*background-repeat:space; /*repetir até preencher*/
	/*background-repeat:no-repeat; /*não repetir*/
	/*background-repeat:fixed; /*imagem fica dentro da div*/
	background-repeat:repeat; /*repete a imagem*/
}

.clearfix{
	clear: both;
	overflow: hidden;
	display: block;
}

video, iframe{
	width: 100%;
	height: 100%;
	min-height: 180px;
	background-color: #000;
	border: 5px solid #111;
}

.audios li{
	list-style: none;
	background-color: #333;
}

.audios p{
	text-transform: capitalize;
	color: #ffde37;
	border-bottom: 5px dashed #111;
	text-align: center;
}

audio{
	width: 85%;
	margin: 15px;
	max-height: 35px;
}

.endereco li, address{
	line-height: 50px;
	font-style: italic;
	border-bottom: 1px #eee solid;
	list-style: none;
	text-align: left;
	color: white
}

.endereco img{
	float: left;
	width: 40px;
	height: 40px;
	margin: 5px
}

.endereco a{
	color: #444;
}

.endereco a:hover{
	color: #ccc
}

input[type="text"], [type="email"],textarea{
	margin: 1%;
	width: 100%;
	padding: 15px;
	background-color: #e9e9e9;
	border: 1px solid #ddd;
	text-align: left;

}

.botaoMedio{
	padding: 10px
}

footer p{
	font-size: .9em;
	font-weight: bold;
	text-align: center;
}

footer span{
	font-size: .8em;
}

footer img{
	width: 46px;
}

.social li{
	display: inline;
	margin: 1px;
}

.social li a{
	padding: 10px
}

@media screen and (max-width:480px ){
	.conteudo{
		width: 100%
	}

	.menu{
		width: 100%;
		margin: auto;
	}
	.caixa3{
		width:100%;
	}
	.caixa6{
		width:100%;
	}
	.logo{
		float: none;
		width: 20%;
		height: 20%

	}
	.menu{
		margin-top: 10px
	}

	.menu li{
		width: 100%;
		border-bottom: 1px solid #ccc
	}
	.slide{
		height: 180px
	}
	.tituloDestaque{
		font-size: 1em
	}
	.titulo{
		font-size: 1em
	}
	.verde{
		background-color: #9AC0CD
	}
}

@media screen and (min-width: 481px) and (max-width: 600px) {
	.menu{
		width: 100%
	}
	.conteudo{
		width: 100%
	}
	.caixa3{
		width:100%;
	}
	.slide{
		height: 280px;
	}
	.verde{
		background-color: #FFE4E1
	}
	.logo{
		float: none;
	}
}